body{
   font-size:large;

}
.linuxBasicsSubs{
   color:#DB7093;
}

.useful_shit{
   color:#e68ba9
}

.lameMach{
   color:#3CB371;
}

.chapter3ccna, .irkedmach{
   color:#3ee74c;
}

.helpmach{
   color:#cc6699;
}


.subtitle{
   font-size:20px;
   font-family: 'Encode Sans SC', sans-serif;
}
.copyright{
   font-family: 'Cedarville Cursive', cursive;

}

.date{
   font-family: 'Cedarville Cursive', cursive;
   color:gray;
   font-size:normal;
}

.title{
font-family: 'Zen Tokyo Zoo', cursive;
}

blockquote{
   background-color:rgba(228, 228, 228, 0.623);
   font-size:normal;
   border-left:5px solid #504b4e;
}  

.comments{
   color:#b81818
   
}